* {
    margin: 0px;
    padding: 0px;
    padding: 5px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__s2 img {
    width: 100px;
    height: 40px;
}

.navbar2__s1 {
    display: flex;
    gap: 15px;
}


.navbar2__s2 {
    border: solid 1px gray;
    padding: 15px;
    border-radius: 30px;
}

.navbar2__s2 input {
    border: none;
    width: 60%;
    font-size: 15px;

}

.navbar2__s2 input:focus {
    outline: none;
}

.hotel {
    display: flex;

}

#img_1 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

img {
    border-radius: 10px;
    width: 240px;
    height: 250px;
    margin: 5px;
}

.explore,
.Travellers_Choice {
    background-color: rgb(250, 241, 237);
    padding: 20px;
}

.sponsored {
    background-color: #FAF1ED;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#img_2 {
    width: 100%;
}

.btn {
    background-color: black;
    border-radius: 60px;
    color: white;
    padding: 15px;
}

.Travellers_Choice {
    background-color: #fff7e1;
    padding: 20px;
}

.About_Tripadvisor {
    background-color: #FAF1ED;
}

select {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: solid rgb(192, 188, 188) 2px;
}

.brands {
    text-align: right;

}

.footnote {
    font-size: small;
    display: flex;

}

#icon1 {
    width: 20px;
    height: 20px;
}

#icon2 {
    width: 70px;
    height: 70px;
}

#icon3 {
    width: 30px;
    height: 30px;
    display: inline-block;

}

#Travellers_Choice_img {
    width: 100%;
    height: 450px;
}



@media screen and (max-width: 799px) {

    .navbar__title {
        display: none;
    }

    .sponsored_img {
        display: none;
    }

    .signin_btn {
        display: none;
    }
    #sponsored_img
    {
        display: none;
    }
    .navbar__s4
    {
        display: none;
    }
    .navbar__s5
    {
        display: none;
    }

}

@media screen and (min-width: 800px) {

    .sponsored_img
    {
        display: none;
    }
    .navbar {
        justify-content: left;
    }

    .navbar img {
        width: 180px;

    }

    .fa-user {
        display: none;
    }


    .signin_btn {

        background-color: black;
        color: white;
        margin-left: 500px;
        border-radius: 25px;
        padding: 12px;
        font-size: 17px;
    }

    .navbar2__s1 {
        margin-left: 10%;
        margin-right: 10%;

    }

    .navbar__title {
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .sponsored {
        display: flex;
        padding: 10px;
        align-items: center;
    }

    #img_2 {
        display: none;
    }

    #sponsored_img {
        width: 350px;
        height: 300px;
    }

    #sponsored_text {
        display: inline-block;
        text-align: center;

    }

    .Travellers_Choice {
        display: flex;
        padding: 5px;

    }

    select {

        width: 45%;
        display: inline-block;

    }

    .navbar__s4 {
        display: none;
    }
    .fa-globe
    {
        display: none;
    }
    .navbar__s5
 {
    display: none;
 }
    
}

@media screen and (min-width: 1000px) {

    .fa-bars {
        display: none;
    }

    .navbar__s4 {
        display: inline-block;
        display: flex;
        gap: 10px;
    }

    #title_logo
    {
        margin-left: 30px;
    }

    .signin_btn
    {
        
        padding: 10px;
        
        margin-left: 100px;
        margin-right: 50px;

    }
    .navbar__s4
    {
        
    margin: auto; 
    }
    .navbar2__s1
    {
        text-align: center;
        margin-left: 400px;
              
    }

    .navbar__s5
    {
        display: block;
        margin-left: 150px;
        margin-right: 0px;
    }

    .fa-globe
    {
        display: inline-block;
    }


    
    .navbar2__s2
    {
        width: 70%;
        margin: auto;
    }

    .About_Tripadvisor_para
    {
        display: inline-block;

            }
    .About_Tripadvisor
    {
        position: relative;
    }
    .select1, .select2
    {
     margin-left: 1000px;  
     width: 200px;
    }
*
{
    padding: 10px;
}
}
